.spinner {
    position: fixed;
    z-index: 1031;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .responsive {
    width: 100%;
    height: 550px;
    background-image: url('../../images/manual_imag_card.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
  }